@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  background-color: #f1f1f1; }

nav {
  width: 95%; }
  nav img {
    width: 85px;
    height: 85px;
    padding: 4px;
    bottom: 0;
    right: 0; }
    nav img ul {
      list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px; }

body {
  font-family: "Noto Sans", sans-serif; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 900; }

p {
  font-size: 1rem; }

#main {
  position: relative;
  display: block; }

#content-wrap {
  padding-top: 50px;
  padding-bottom: 50px; }

#publicacion {
  padding-left: 70px; }

.navbar {
  background-color: #0295a9; }

.bgmain {
  background-color: #0295a9; }

.nav-item {
  padding: 0em 1.3em; }

.nav-link {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1em; }

.nav-link:hover {
  color: #fdd037; }

.btn {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  font-size: 1.5rem;
  background-color: #12adc1; }

.btn:hover {
  transform: scale(0.9);
  background-color: #108c9d; }

.text-center {
  text-align: center; }

.presentacion {
  height: auto;
  width: 1024px;
  max-width: 90%;
  margin: 0 auto; }

.content-area {
  width: 100%;
  padding: 0;
  border: 0; }

.block-spacer {
  height: 20px; }

.flex-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none; }

.card {
  margin-top: 2rem;
  padding-left: 0px; }
  .card img {
    margin: auto;
    padding-top: 15px;
    height: 100px;
    width: 100px; }

.card-p {
  padding-left: 55px; }

.info {
  background: #ddd;
  box-shadow: rgba(23, 20, 20, 0.624);
  padding: 3rem; }

.c-link {
  font-size: 1rem; }

.footer-cont {
  padding: 3rem 2rem; }
  .footer-cont .footer {
    width: 100%; }
    .footer-cont .footer ul li {
      color: #d3d0cb;
      font-size: 1em; }

.box1 {
  padding: 3rem;
  text-align: center; }

@media (min-width: 1200px) {
  h1 {
    font-size: 2.8rem; }
  h2 {
    font-size: 2.4rem; }
  h3 {
    font-size: 2.0rem; }
  h5, .c-link {
    font-size: 1.8rem; }
  p {
    font-size: 1.5rem; } }
