@media (min-width: 1200px){
    h1{
        font-size: 2.8rem;
    }

    h2{
        font-size: 2.4rem;
    }

    h3{
        font-size: 2.0rem;
    }

    h5, .c-link{
        font-size: 1.8rem;
    }

    p{
        font-size: 1.5rem;
    }

}