<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metas SEO -->
    <meta name="descripcion" content="Dale un hogar a uno de nuestros animales rescatados.">
    <meta name="keywords" content="adoptar, gatos, perros, animales">
    <title>Voluntariado</title>

    <link rel="icon" type="image/jpg" href="../img/favicon.png"/>

    <!-- Boostrap css -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Mi css -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="container-fluid bgmain">
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                    <a href="/index.html"><img src="/img/Logo.svg" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0"><hr>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/views/adoptar.html">Adoptar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Apóyanos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/views/donar.html">Donar</a></li>
                        <li><a class="dropdown-item" href="/views/voluntariado.html">Voluntariado</a></li>
                        </ul>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Termina nav -->
<main id="main">
    <div class="presentacion" id="content-wrap">
        <div class="content-area">
            <div class="info">
                <h1 class="text-center">Voluntariado</h1>
                <div class="block-spacer"></div>
                <p>
                    Se parte de nuestra fundación con nuestro programa de voluntariado y mejora la calidad de vida de animales sin hogar.
                </p>
                <p>
                
                </p>
            </div>
            <div class="block-spacer"></div>
            <div class="info">
                <h2 class="text-center">¿Qué funciones puedes cumplir con nuestro programa de voluntariado?</h2>
                <p>
                    <strong>Trabajo en terreno:</strong> Nos ayudaras en nuestras rutas para rescatar animales sin hogar que necesitan una ayuda y nos apoyaras en nuestras campañas de adopción.
                </p>

                
                <p>
                    <strong>Apoyo en las instalaciones:</strong> Nos darás un apoyo en el cuidado diario de nuestros rescatados (bañar, peinar, alimentar, administrar medicamentos y ayudar con esterilizaciones).
                </p>

                <p>
                    <strong>Hogar temporal:</strong> Si puedes cuidar a uno de nuestros rescatados hasta que encuentre un hogar definitivo ¡contáctanos!
                </p>
                <a href="/views/contacto.html" class="btn btn-primary col-12">Contáctanos</a>
            </div>
        </div>
    </div>
    <div class="block-spacer"></div>
</main>
<!-- termina Contenido -->
<!-- inicia footer -->
<section class="footer-cont bg-dark ">
    <div class="d-sm-flex flex-row text-white">
        <div class="footer">
            <h3>Nuestras redes</h3>
            <a href="https://www.facebook.com">
                <img src="/img/facebook.png" alt="facebook">
            </a>
            <a href="https://twitter.com">
                <img src="/img/twitter.png" alt="twitter">
            </a>
        </div>
        <div class="footer">
            <h3>Encuéntranos</h3>
            <ul>
                <li>Las Rosas 123, Santiago, Chile</li>
                <li>San Pablo N°329, Santiago, Chile</li>
            </ul>
        </div>
        <div class="footer">
            <h3>Contáctanos</h3>
            <ul>
                <li>+123456789</li>
                <li>+987654321</li>
                <li>+987665312</li>
            </ul>
        </div>
    </div>
</section>
<!-- termina footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>